@page "/ViajesEspaciales/Edit"

@* Falta EditForm y DataAnnotationValidator *@
<div class="container">
    <div class="card shadow-lg">
        <div class="card-header text-center p-3">
            <h3>Modificar viaje espacial</h3>
        </div>
        <div class="card-body">
            <div class="mb-3">
                <label class="form-label"><strong>Fecha</strong></label>
                <input class="form-control" type="datetime-local" />
            </div>
        </div>
        <div class="card-footer p-3 text-center">
            <a class="btn btn-secondary" href="/ViajesEspaciales/Index"><span class="bi bi-arrow-left"></span> Volver</a>
            <button class="btn btn-primary"><span class="bi bi-floppy"></span> Modificar</button>
            <button class="btn btn-danger"><span class="bi bi-trash"></span> Eliminar</button>
        </div>
    </div>
</div>

@code {

}
