@page "/ViajesEspaciales/Index"

<div class="container">
    <div class="card shadow-lg">
        <div class="card-header d-flex justify-content-between p-3">
            <h3>Viajes espaciales</h3>
            <a class="btn btn-primary" href="/ViajesEspaciales/Create"><span class="bi bi-plus-square"></span> Crear</a>
        </div>
        <div class="card-body">

            @* Filtro por fechas *@
            <div class="row">
                <div class="col-3">
                    <label class="form-label">Desde</label>
                </div>
                <div class="col-3">
                    <label class="form-label">Hasta</label>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-3">
                    <input class="form-control" type="datetime-local" />
                </div>
                <div class="col-3">
                    <input class="form-control" type="datetime-local" />
                </div>
            </div>

            @* Busqueda y filtro *@
            <div class="row">
                <div class="col-3">
                    <label class="form-label">Filtro</label>
                </div>
                <div class="col-4">
                    <label class="form-label">B&uacute;squeda</label>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <select class="form-select">
                        <option>hola</option>
                        <option>hola</option>
                    </select>
                </div>
                <div class="col-4">
                    <input class="form-control" type="text" />
                </div>
            </div>
            <a class="btn btn-outline-primary" href="/ViajesEspaciales/Edit"><span class="bi bi-pencil-square"></span></a>
        </div>
        <div class="card-footer p-3 d-flex justify-content-between">
            <label><strong>Cantidad:</strong> 404</label>
            <label><strong>Total:</strong> 2,000.00</label>
        </div>
    </div>
</div>

@code {

}
