@page "/ViajesEspaciales/Index"

<div class="container">
    <div class="card shadow-lg">
        <div class="card-header d-flex justify-content-between p-3">
            <h3>Viajes espaciales</h3>
            <a class="btn btn-primary" href="/ViajesEspaciales/Create"><span class="bi bi-plus-square"></span> Crear</a>
        </div>
        <div class="card-body">
            <a class="btn btn-outline-primary" href="/ViajesEspaciales/Edit"><span class="bi bi-pencil-square"></span></a>
        </div>
        <div class="card-footer p-3 d-flex justify-content-between">
            <label>Cantidad: 404</label>
            <label>Total: 2,000.00</label>
        </div>
    </div>
</div>

@code {

}
